// MyScan Config

address = ""
port = 8080;
threads = 4;
update_period = 360; // sec
timeout_connect = 10;
timeout_data = 30;

tables = ( 
	{
		name = "test";
		sql = "SELECT * FROM test";
		indexes = (
			{ name = "updated_asc"; columns = "updated_at ASC"; }, 
			{ name = "updated_desc"; columns = "updated_at DESC"; }, 
		);
	}, 
